/*
=========================================
RESPONSIVE BREAKPOINTS (Bootstrap Framework)
=========================================
*/
/*
=========================================
MAX RESOLUTION RESPONSIVE MIXINS
=========================================
*/
/*
=========================================
MIN RESOLUTION RESPONSIVE MIXINS
=========================================
*/
/*
=========================================
SITE COLORS
=========================================
*/
/*
=========================================
GET COLOR FUNCTION
=========================================
*/
/*
=========================================
CREATE COLOR CLASS
=========================================
*/
.site-color-primary {
  color: #013468 !important;
}

.site-bg-primary {
  background-color: #013468 !important;
}

.site-color-primary-hover {
  color: #024d97 !important;
}

.site-bg-primary-hover {
  background-color: #024d97 !important;
}

.site-color-primary-alt {
  color: #424e5e !important;
}

.site-bg-primary-alt {
  background-color: #424e5e !important;
}

.site-color-primary-light {
  color: #84a6c6 !important;
}

.site-bg-primary-light {
  background-color: #84a6c6 !important;
}

.site-color-secondary {
  color: #f5f6f8 !important;
}

.site-bg-secondary {
  background-color: #f5f6f8 !important;
}

.site-color-secondary-navbg {
  color: #eceff2 !important;
}

.site-bg-secondary-navbg {
  background-color: #eceff2 !important;
}

.site-color-secondary-navborder {
  color: #ebebeb !important;
}

.site-bg-secondary-navborder {
  background-color: #ebebeb !important;
}

.site-color-secondary-alt {
  color: #f7f8fa !important;
}

.site-bg-secondary-alt {
  background-color: #f7f8fa !important;
}

.site-color-alt {
  color: #a12d28 !important;
}

.site-bg-alt {
  background-color: #a12d28 !important;
}

.site-color-dark {
  color: #000 !important;
}

.site-bg-dark {
  background-color: #000 !important;
}

.site-color-light {
  color: #FFF !important;
}

.site-bg-light {
  background-color: #FFF !important;
}

/* ~~~~~~~~~~~~~~~~~~~~| END SITE CLASS COLORS |~~~~~~~~~~~~~~~~~~~~ */
/*
=========================================
SITE FONTS
=========================================
*/
/*
=========================================
GET FONT FUNCTION
=========================================
*/
/*
=========================================
CREATE FONTS CLASSESS
=========================================
*/
.site-font-primary {
  font-family: "Lato" !important;
}

.site-font-primary-alt {
  font-family: "Lato Hairline" !important;
}

.site-font-secondary {
  font-family: "Noto Sans" !important;
}

.site-font-alt {
  font-family: "Montserrat" !important;
}

/*
=========================================
IMPORT FONTS
=========================================
*/
html body #preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  background: #eeeeee;
  inset: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s 0.1s ease, visibility 0s 0.6s ease;
}
html body #preloader img {
  position: relative;
  width: 100%;
  max-width: 90px;
  display: block;
}
html body #preloader.hide {
  opacity: 0;
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

html body {
  font: 400 1.375rem/1.55 "Lato" , Arial, sans-serif;
}
@media only screen and (max-width: 1199px) {
  html body {
    font: 400 1rem/1.55 "Lato" , Arial, sans-serif;
  }
}
@media only screen and (max-width: 768px) {
  html body {
    font: 400 0.85rem/1.655 "Lato" , Arial, sans-serif;
  }
}
html body .site-wrapper, html body main {
  overflow: hidden;
}
html body .section {
  padding: 0;
}
@media only screen and (min-width: 1400px) {
  html body .container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 1400px;
  }
}
html body .container.is-full {
  max-width: none !important;
}
html body .row {
  flex-direction: row;
}
html body .row.row-reverse {
  flex-direction: row-reverse;
}
html body strong {
  color: unset;
}
html body a, html body .nav-link {
  color: #013468;
}
html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
  font-family: "Lato" , Arial, sans-serif;
}
html body h1, html body .h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 78px;
  font-family: "Lato" , Arial, sans-serif;
}
@media only screen and (max-width: 991px) {
  html body h1, html body .h1 {
    font-size: 32px;
    line-height: 38px;
  }
}
html body h2, html body .h2 {
  font-size: 42px;
  font-weight: 600;
  font-family: "Noto Sans" , Arial, sans-serif;
  color: #013468;
}
@media only screen and (max-width: 991px) {
  html body h2, html body .h2 {
    font-size: 32px;
    line-height: 39px;
  }
}
@media only screen and (max-width: 768px) {
  html body h2, html body .h2 {
    font-size: 26px;
    line-height: 1.4;
  }
}
html body h3, html body .h3 {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 40px;
  color: #013468;
  font-family: "Noto Sans" , Arial, sans-serif;
}
@media only screen and (max-width: 991px) {
  html body h3, html body .h3 {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
html body h4, html body .h4 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Noto Sans" , Arial, sans-serif;
  line-height: 32px;
}
@media only screen and (max-width: 991px) {
  html body h4, html body .h4 {
    font-size: 20px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 575px) {
  html body h4, html body .h4 {
    font-size: 1.4rem;
  }
}
html body hr {
  margin: 0 auto 20px;
  display: block;
  height: 4px;
  opacity: 1;
  background: #FFF;
  width: 100%;
  max-width: none;
  margin: 75px 0;
}
html body picture, html body picture img {
  display: block;
}
html body img {
  max-width: 100%;
}
html body .large-p, html body .large-p p, html body .large-p div {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.4;
}
@media only screen and (max-width: 991px) {
  html body .large-p, html body .large-p p, html body .large-p div {
    font-size: 20px;
    line-height: 28px;
  }
}
html body .btn:not(.menu-item) {
  color: #FFF;
  background: #013468;
  border: 2px solid #013468;
  border-radius: 50px;
  text-align: center;
  padding: 20px 50px;
  font-size: 1.125rem;
  transform: scale(1);
  filter: brightness(1);
  transition: all 0.4s 0s ease;
  display: inline-block;
  position: relative;
  font-weight: 600;
  font-family: "Lato" , Arial, sans-serif;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  border-radius: 200px;
}
@media only screen and (max-width: 768px) {
  html body .btn:not(.menu-item) {
    padding: 10px 20px;
  }
}
html body .btn:not(.menu-item):hover {
  color: #013468;
  background: transparent;
  border-color: #013468;
}
html body .btn:not(.menu-item):active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
html body .btn:not(.menu-item):not(.disabled) {
  cursor: pointer;
}
html body .col-article-content ul, html body .checklist, html body .ul-to-checklists ul {
  margin: 0;
  padding: 0;
  padding-left: 34px !important;
  margin-bottom: 16px;
  list-style: none;
}
@media only screen and (max-width: 768px) {
  html body .col-article-content ul, html body .checklist, html body .ul-to-checklists ul {
    padding-left: 28px;
  }
}
html body .col-article-content ul li, html body .checklist li, html body .ul-to-checklists ul li {
  position: relative;
}
html body .col-article-content ul li:not(:last-of-type), html body .checklist li:not(:last-of-type), html body .ul-to-checklists ul li:not(:last-of-type) {
  margin-bottom: 10px;
}
html body .col-article-content ul li::before, html body .checklist li::before, html body .ul-to-checklists ul li::before {
  content: "";
  width: 22px;
  height: 22px;
  right: calc(100% + 12px);
  top: 7px;
  position: absolute;
  background-image: url(../img/list-checkmark.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media only screen and (max-width: 1199px) {
  html body .col-article-content ul li::before, html body .checklist li::before, html body .ul-to-checklists ul li::before {
    width: 15px;
    height: 15px;
    top: 5px;
  }
}
@media only screen and (max-width: 768px) {
  html body .col-article-content ul li::before, html body .checklist li::before, html body .ul-to-checklists ul li::before {
    width: 12px;
    height: 12px;
    top: 5px;
    right: calc(100% + 8px);
  }
}
@media only screen and (min-width: 1400px) {
  html body :is(.regular-content, .regular-banner) .container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 1300px;
  }
}
html body .regular-content p, html body .regular-content label {
  margin-bottom: 25px;
}
html body .regular-content h1, html body .regular-content h2, html body .regular-content h3 {
  margin-bottom: 25px;
  margin-top: 25px;
}
html body .regular-content ol, html body .regular-content ul {
  padding-left: 22px;
}
html body .regular-content ol > li, html body .regular-content ul > li {
  padding-left: 10px;
  margin-bottom: 20px;
}
html body .regular-content ol > li ul, html body .regular-content ol > li ol, html body .regular-content ul > li ul, html body .regular-content ul > li ol {
  margin-top: 25px;
}
html body .regular-content ol > li ul li, html body .regular-content ol > li ol li, html body .regular-content ul > li ul li, html body .regular-content ul > li ol li {
  padding-left: 5px;
  margin-bottom: 25px;
}
html body .regular-content ol.unlisted, html body .regular-content ul.unlisted {
  list-style: none;
  padding-left: 30px;
}
html body .flexible-row ul {
  list-style: none;
  padding-left: 33px;
}
@media only screen and (max-width: 768px) {
  html body .flexible-row ul {
    padding-left: 25px;
  }
}
html body .flexible-row ol {
  padding-left: 55px;
}
@media only screen and (max-width: 768px) {
  html body .flexible-row ol {
    padding-left: 25px;
  }
}
html body .flexible-row .col-title-h4 {
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  html body .flexible-row .col-title-h4 {
    font-size: 18px;
  }
}
html body .background-title {
  font-family: "Noto Sans" , Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 130px;
  color: #f5f6f8;
  position: relative;
  line-height: 1;
  letter-spacing: 1rem;
  margin-bottom: -60px !important;
}
@media only screen and (max-width: 1199px) {
  html body .background-title {
    font-size: 90px;
  }
}
@media only screen and (max-width: 768px) {
  html body .background-title {
    font-size: 60px;
  }
}
html body .wpcf7-form label, html body .wpcf7-form .wpcf7-text, html body .wpcf7-form .wpcf7-textarea {
  width: 100%;
}
html body .wpcf7-form label {
  position: relative;
}
html body .wpcf7-form label.focused span.floating-placeholder {
  display: block;
}
html body .wpcf7-form label span.floating-placeholder {
  position: absolute;
  top: -30px;
  left: 14px;
  font-size: 18px;
  color: #013468;
  display: none;
}
html body .wpcf7-form label .wpcf7-not-valid-tip {
  font-size: 16px;
}
html body .wpcf7-form label > br {
  display: none;
}
html body .wpcf7-form label span.wpcf7-list-item-label {
  padding-left: 30px;
  display: block;
  font-size: 18px;
  max-width: 870px;
  color: #9ea8ba;
  margin-top: -43px;
}
html body .wpcf7-form .wpcf7-list-item {
  margin-top: -30px;
}
html body .wpcf7-form .wpcf7-list-item label > input {
  width: 30px;
  height: 30px;
  margin-left: -20px;
}
@media only screen and (max-width: 768px) {
  html body .wpcf7-form .wpcf7-list-item label > input {
    width: 23px;
    height: 23px;
    margin-left: -15px;
  }
}
html body .wpcf7-form .wpcf7-text, html body .wpcf7-form .wpcf7-textarea {
  border: 1px solid #748fac;
  min-height: 47px;
  font-size: 18px;
  padding: 6px 22px;
  color: #013468;
}
html body .wpcf7-form .wpcf7-text::placeholder, html body .wpcf7-form .wpcf7-textarea::placeholder {
  color: #9ea8ba;
}
html body .wpcf7-form .wpcf7-text:focus::placeholder, html body .wpcf7-form .wpcf7-textarea:focus::placeholder {
  color: transparent;
}
html body .wpcf7-form .newsletter-submit-button .wpcf7-form-control {
  width: 100%;
  max-width: 180px;
  letter-spacing: 2px;
  padding-top: 15px;
  padding-bottom: 17px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
html body .main-title .container > p {
  max-width: 600px;
  font-size: 18px;
}
html body .main-title .container h2, html body .main-title .container h3 {
  z-index: 2;
  position: relative;
}
html body .anchor {
  position: relative;
  width: 0px;
  height: 0px;
  top: -126px;
}
@media only screen and (max-width: 768px) {
  html body .anchor {
    top: 156px;
  }
}
html body .styled-select {
  position: relative;
  background: #FFF;
  padding: 0;
  max-width: 500px;
  border-radius: 6px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  html body .styled-select {
    max-width: 400px;
  }
}
html body .styled-select select {
  width: 100%;
  height: 70px;
  padding: 0 30px;
  background: transparent;
  border: 1px solid gray;
  background: transparent;
  border-radius: 6px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #6e7276;
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
}
@media only screen and (max-width: 768px) {
  html body .styled-select select {
    height: 45px;
    font-size: 16px;
  }
}
html body .styled-select::after {
  content: "";
  background-image: url("../img/nav-dropdown-arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  html body .our-team-slider-container {
    padding: 15px 38px;
  }
}
html body .our-team-slider {
  position: relative;
  width: calc(100% + 20px);
  margin: 0 -10px;
}
html body .our-team-slider a {
  text-decoration: none;
}
html body .our-team-slider .our-team-slide .slide-wrap {
  padding: 0 10px;
}
html body .our-team-slider .our-team-slide .slide-wrap figure {
  margin: 0;
  width: 100%;
  position: relative;
  height: 0;
  padding-top: 115%;
}
html body .our-team-slider .our-team-slide .slide-wrap figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  margin: 0;
  display: block;
  object-fit: cover;
}
html body .our-team-slider .our-team-slide .slide-wrap h3 {
  margin: 15px 0 5px;
  font-size: 26px;
  letter-spacing: 0;
}
@media only screen and (max-width: 768px) {
  html body .our-team-slider .our-team-slide .slide-wrap h3 {
    font-size: 20px;
    margin: 5px 0 0;
  }
}
html body .our-team-slider .our-team-slide .slide-wrap p {
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  html body .our-team-slider .our-team-slide .slide-wrap p {
    font-size: 16px;
  }
}
html body .our-team-slider .slick-arrow {
  position: absolute;
  top: 180px;
  border: 0;
  background-color: transparent;
  font-size: 0;
  width: 35px;
  height: 17px;
  background-image: url(../img/nav-dropdown-arrow.png);
  background-size: contain;
  opacity: 0.5;
  transition: all 0.4s 0s ease;
}
@media only screen and (max-width: 768px) {
  html body .our-team-slider .slick-arrow {
    top: 50%;
  }
}
html body .our-team-slider .slick-arrow:hover {
  opacity: 1;
}
html body .our-team-slider .slick-arrow.slick-next {
  left: calc(100% + 15px);
  transform: translateY(-50%) rotate(90deg) scaleY(-1);
}
@media only screen and (max-width: 991px) {
  html body .our-team-slider .slick-arrow.slick-next {
    left: calc(100% - 5px);
  }
}
html body .our-team-slider .slick-arrow.slick-prev {
  right: calc(100% + 15px);
  transform: translateY(-50%) rotate(90deg) scaleY(1);
}
@media only screen and (max-width: 991px) {
  html body .our-team-slider .slick-arrow.slick-prev {
    right: calc(100% - 5px);
  }
}
html body .modal.large .modal-dialog {
  width: 90%;
  max-width: 1350px;
}
@media only screen and (max-width: 575px) {
  html body .modal.large .modal-dialog {
    width: calc(100% - 1rem);
    margin: 0.5rem;
  }
}
html body .modal .modal-dialog {
  background: #FFF;
  position: relative;
}
html body .modal .modal-content {
  border-radius: 0;
  border: 0;
  padding: 15px 30px 15px 15px;
}
@media only screen and (max-width: 991px) {
  html body .modal .modal-content {
    padding: 0;
  }
}
html body .modal .modal-header {
  border: 0;
  z-index: 3;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  padding-bottom: 0;
}
@media only screen and (max-width: 991px) {
  html body .modal .modal-header {
    position: relative;
    margin-bottom: -10px;
  }
}
html body .member-row .col-picture {
  padding: 25px 15px 15px 25px;
}
@media only screen and (max-width: 991px) {
  html body .member-row .col-picture {
    display: flex;
    justify-content: center;
  }
}
html body .member-row .col-content {
  padding: 15px 15px 30px;
}
html body .articles-row {
  margin: 0 -25px;
}
html body .article-item a {
  text-decoration: none !important;
}
html body .article-item figure {
  width: 100%;
  display: block;
  position: relative;
  height: 0;
  padding-top: 115%;
}
html body .article-item figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  margin: 0;
  display: block;
  object-fit: cover;
}
@media only screen and (max-width: 991px) {
  html body .row-article-single-content {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 768px) {
  html body .col-trending-articles {
    margin-top: 50px;
    padding-bottom: 40px;
  }
  html body .col-trending-articles .btn {
    display: none;
  }
}
html body .trending-article-item a {
  color: #707070;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  max-width: 220px;
  display: inline-block;
}
html body .trending-article-item a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  html body.page-template-default main {
    margin-bottom: 40px;
  }
}

html body .home-content-section {
  padding-top: 100px;
}
@media only screen and (max-width: 768px) {
  html body .home-content-section {
    padding-top: 30px;
  }
}
html body .col-main-title {
  margin-bottom: 120px;
}
@media only screen and (max-width: 768px) {
  html body .col-main-title {
    margin-bottom: 20px;
  }
}
html body .col-main-title .background-title {
  margin-bottom: -90px;
}
html body .col-main-title h3 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  html body .col-main-title h3 {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
html body .col-main-title h2:not(.background-title) {
  font-size: 60px;
  line-height: 1.3;
}
@media only screen and (max-width: 768px) {
  html body .col-main-title h2:not(.background-title) {
    font-size: 30px;
  }
}
html body .col-logos .col-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 125px;
  margin-top: 25px;
}
@media only screen and (max-width: 991px) {
  html body .col-logos .col-wrap {
    flex-direction: column;
    margin-bottom: 25px;
    margin-top: 0;
  }
}
@media only screen and (max-width: 575px) {
  html body .col-logos .logo-item {
    margin-bottom: 20px;
  }
}
html body .col-logos .logo-item img {
  max-height: 60px;
  max-width: 250px;
  margin: 0 15px;
}
@media only screen and (max-width: 991px) {
  html body .col-logos .logo-item img {
    max-height: 40px;
    max-width: 190px;
    margin: 5px;
  }
}
html body .col-content-row {
  margin: 35px 0 90px;
}
@media only screen and (max-width: 768px) {
  html body .col-content-row {
    margin: 35px 0 35px;
  }
}
html body .col-content-row.image-to-right .col-wrap {
  flex-direction: row-reverse;
}
html body .col-content-row.image-to-right figure {
  margin-left: 5%;
}
html body .col-content-row.image-to-left .col-wrap {
  flex-direction: row;
}
html body .col-content-row.image-to-left figure {
  margin-right: 5%;
}
@media only screen and (max-width: 768px) {
  html body .col-content-row {
    flex-direction: column;
  }
}
html body .col-content-row .col-wrap {
  display: flex;
  flex-wrap: wrap;
}
html body .col-content-row figure {
  width: 54%;
}
@media only screen and (max-width: 768px) {
  html body .col-content-row figure {
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100%;
  }
}
html body .col-content-row figure img {
  width: 100%;
}
html body .col-content-row .content {
  width: 41%;
  padding-top: 20px;
}
@media only screen and (max-width: 768px) {
  html body .col-content-row .content {
    width: 100%;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  html body .col-content-row .btn {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -25px;
  }
}
html body .col-featured-option {
  padding: 5px 5px !important;
}
html body .col-featured-option .col-wrap {
  position: relative;
}
html body .col-featured-option .col-wrap:hover figure img {
  transform: scale(1.08);
}
html body .col-featured-option figure {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 70%;
  margin: 0;
  overflow: hidden;
}
html body .col-featured-option figure img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
  transition: transform 0.5s 0s ease !important;
}
html body .col-featured-option .content {
  position: absolute;
  z-index: 2;
  inset: 0;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  text-align: center;
}
html body .col-featured-option .content h3 {
  color: #FFF;
  letter-spacing: 0;
  max-width: 290px;
}
html body #we-can-help {
  padding-top: 120px;
}
@media only screen and (max-width: 768px) {
  html body #we-can-help {
    padding-top: 40px;
  }
}
html body #we-can-help .section-wrap {
  position: relative;
}
html body #we-can-help .container {
  position: relative;
}
html body #we-can-help .floating-shape {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
html body #we-can-help .content {
  text-align: right;
  width: 55%;
  margin-left: auto;
  margin-bottom: -450px;
}
@media only screen and (max-width: 768px) {
  html body #we-can-help .content {
    width: 100%;
    margin-right: auto;
    text-align: left;
    margin-bottom: 0;
  }
}
html body #we-can-help .content h2 {
  margin-bottom: -45px;
}
html body #we-can-help .content h3 {
  text-transform: uppercase;
  font-weight: 600;
}
html body #we-can-help .content .btn {
  margin-top: 80px;
}
@media only screen and (max-width: 768px) {
  html body #we-can-help .content .btn {
    margin-top: 20px;
  }
}
html body #we-can-help .review {
  position: relative;
  width: 75%;
  left: 0;
  top: 0;
  max-width: 850px;
}
@media only screen and (max-width: 768px) {
  html body #we-can-help .review {
    width: 100%;
  }
}
html body #we-can-help .review > img {
  max-width: 900px;
  display: block;
  z-index: -1;
  position: relative;
  margin-left: -110px;
  margin-top: -200px;
}
@media only screen and (max-width: 768px) {
  html body #we-can-help .review > img {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }
}
html body #we-can-help .review .stars {
  position: relative;
  margin-top: 160px;
}
@media only screen and (max-width: 768px) {
  html body #we-can-help .review .stars {
    margin-top: 40px;
  }
}
html body #we-can-help .review .stars img {
  max-width: 150px;
}
html body #we-can-help .review .stars h4 {
  font-weight: 600;
  font-family: "Lato" , Arial, sans-serif;
  margin-top: 10px;
  color: #013468;
}
html body #we-can-help .review .stars p {
  font-weight: 500;
  font-family: "Lato" , Arial, sans-serif;
  color: #013468;
  line-height: 1.3;
  font-size: 22px;
  max-width: 320px;
}
@media only screen and (max-width: 768px) {
  html body #we-can-help .review .stars p {
    font-size: 18px;
    max-width: 270px;
  }
}
html body #featured-options {
  padding: 5px;
}
html body #featured-options .section-wrap > .container-fluid {
  padding: 0 15px;
}
html body #our-process {
  padding: 150px 0 70px;
  background: #f7f8fa;
}
@media only screen and (max-width: 768px) {
  html body #our-process {
    padding: 50px 0;
    background: #f7f8fa;
  }
}
html body #our-process .col-steps > .col-wrap {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  html body #our-process .col-steps > .col-wrap {
    flex-direction: column;
  }
}
html body #our-process .col-steps > .col-wrap > h3 {
  margin-bottom: 80px;
}
html body #our-process .col-steps .steps {
  display: flex;
  margin-left: 150px;
}
@media only screen and (max-width: 991px) {
  html body #our-process .col-steps .steps {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}
html body #our-process .col-steps .steps .step {
  position: relative;
}
html body #our-process .col-steps .steps .step:last-of-type hr {
  display: none;
}
html body #our-process .col-steps .steps .step:last-of-type h3 {
  margin-right: 0;
}
html body #our-process .col-steps .steps .step h3 {
  width: 125px;
  height: 125px;
  border: 7px solid #e1e5ea;
  background: #FFF;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 54px;
  padding: 0 0 2px 2px;
  margin: 0 125px 0 0;
}
@media only screen and (max-width: 991px) {
  html body #our-process .col-steps .steps .step h3 {
    margin-right: 0;
    position: relative;
    right: -15px;
    z-index: 2;
  }
}
html body #our-process .col-steps .steps .step hr {
  margin: 0;
  position: absolute;
  height: 7px;
  background: #e1e5ea;
  left: calc(100% - 125px);
  right: initial;
  top: 62.5px;
  width: 125px;
  z-index: 1;
}
@media only screen and (max-width: 991px) {
  html body #our-process .col-steps .steps .step hr {
    width: 7px;
    height: 125px;
    left: 75px;
    right: auto;
    top: 125px;
  }
}
html body #our-process .col-steps .steps .step h4 {
  font-size: 16px;
  text-align: center;
  color: #013468;
  max-width: 125px;
  line-height: 1.4;
}
@media only screen and (max-width: 991px) {
  html body #our-process .col-steps .steps .step h4 {
    min-height: 100px;
    padding-top: 10px;
    max-width: 150px;
    z-index: 2;
    position: relative;
    left: 3px;
  }
  html body #our-process .col-steps .steps .step h4 span {
    display: block;
    background: #FFF;
    border: 3px solid #e1e5ea;
    border-radius: 50px;
    padding: 10px 5px;
  }
}

html body .site-navigation {
  padding-bottom: 97px;
}
@media only screen and (max-width: 575px) {
  html body .site-navigation {
    padding-bottom: 84px;
  }
}
html body .site-navigation .navbar {
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  transition: transform 0.4s 0s ease, background-color 0.4s 0s ease;
}
html body .site-navigation .navbar.scrolled {
  background-color: #eceff2;
}
html body .site-navigation .navbar .navbar-brand img {
  max-width: 270px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  html body .site-navigation .navbar .navbar-brand img {
    max-width: 190px;
  }
}
html body .site-navigation .navbar .navbar-collapse {
  flex-basis: initial;
  width: auto;
  flex-grow: initial;
}
@media only screen and (max-width: 768px) {
  html body .site-navigation .navbar .navbar-collapse {
    width: 100%;
  }
}
html body .site-navigation .navbar .navbar-collapse .navigation-menu {
  margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
  html body .site-navigation .navbar .navbar-collapse .navigation-menu {
    margin-top: 30px;
    display: inline-flex;
    flex-direction: column;
  }
}
html body .site-navigation .navbar .navbar-collapse .navigation-menu .nav-link {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}
@media only screen and (max-width: 768px) {
  html body .site-navigation .navbar .navbar-collapse .navigation-menu .nav-link {
    font-size: 15px;
    letter-spacing: 1px;
    padding: 0.5rem 0.5rem;
  }
}
html body .site-navigation .navbar .navbar-collapse .navigation-menu .nav-link::after {
  content: "";
  border: 0;
  width: 14px;
  height: 7px;
  background-image: url(../img/nav-dropdown-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 3px;
  position: relative;
  margin-left: 10px;
}
html body .site-navigation .navbar .navbar-collapse .navigation-menu .menu-item.nav-btn .nav-link {
  color: #FFF;
  background: #013468;
  border: 2px solid #013468;
  border-radius: 50px;
  text-align: center;
  padding: 20px 50px;
  font-size: 1.125rem;
  transform: scale(1);
  filter: brightness(1);
  transition: all 0.4s 0s ease;
  display: inline-block;
  position: relative;
  font-weight: 600;
  font-family: "Lato" , Arial, sans-serif;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  border-radius: 200px;
  padding: 15px 30px;
}
@media only screen and (max-width: 768px) {
  html body .site-navigation .navbar .navbar-collapse .navigation-menu .menu-item.nav-btn .nav-link {
    padding: 10px 20px;
  }
}
html body .site-navigation .navbar .navbar-collapse .navigation-menu .menu-item.nav-btn .nav-link:hover {
  color: #013468;
  background: transparent;
  border-color: #013468;
}
html body .site-navigation .navbar .navbar-collapse .navigation-menu .menu-item.nav-btn .nav-link:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
html body .site-navigation .navbar .navbar-collapse .navigation-menu .menu-item.nav-btn .nav-link:not(.disabled) {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  html body .site-navigation .navbar .navbar-collapse .navigation-menu .menu-item.nav-btn .nav-link {
    padding: 10px 20px;
    margin-top: 25px;
  }
}
html body .site-navigation .navbar .dropdown:hover .dropdown-menu {
  display: block !important;
}
html body .site-navigation .navbar .dropdown-toggle + .dropdown-menu {
  border: 0;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  padding: 0 0;
  background: #FFF;
}
html body .site-navigation .navbar .dropdown-toggle + .dropdown-menu > .menu-item {
  display: block;
  width: 100%;
  transition: all 0.3s 0s ease;
}
html body .site-navigation .navbar .dropdown-toggle + .dropdown-menu > .menu-item a:active, html body .site-navigation .navbar .dropdown-toggle + .dropdown-menu > .menu-item a.current-url, html body .site-navigation .navbar .dropdown-toggle + .dropdown-menu > .menu-item a:hover {
  color: #FFF !important;
  background: #013468 !important;
}
html body .site-navigation .navbar .dropdown-toggle + .dropdown-menu > .menu-item a {
  line-height: 1.3;
  color: #013468 !important;
  background: #FFF !important;
  padding: calc(5px + 0.25rem) 1rem calc(5px + 0.25rem);
  transition: all 0.3s 0s ease;
}

html body .site-footer {
  background: #424e5e;
  color: #FFF;
  padding: 80px 0 160px;
}
html body .site-footer, html body .site-footer a {
  font-family: "Montserrat" , Arial, sans-serif;
}
html body .site-footer a {
  color: #FFF;
  text-decoration: none;
}
html body .site-footer a:hover {
  text-decoration: underline;
  color: #ebebeb;
}
html body .site-footer hr {
  opacity: 0.4;
  margin-top: 25px;
}
html body .site-footer .col-navigation, html body .site-footer .col-navigation .nav-link, html body .site-footer .col-navigation p {
  font-size: 18px;
}
html body .site-footer .col-navigation .list-inline {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}
html body .site-footer .col-navigation .list-inline .menu-item {
  margin-bottom: 1rem;
}
html body .site-footer .col-navigation .list-inline .menu-item .nav-link {
  max-width: 250px;
  letter-spacing: 1px;
  font-weight: 400;
  padding-left: 0;
  padding-right: 0;
  min-height: 60px;
}
@media only screen and (max-width: 991px) {
  html body .site-footer .col-navigation .list-inline .menu-item .nav-link {
    min-height: initial;
  }
}
@media only screen and (max-width: 768px) {
  html body .site-footer .col-navigation .list-inline .menu-item .nav-link {
    font-size: 16px;
  }
}
html body .site-footer .col-content, html body .site-footer .col-content .nav-link, html body .site-footer .col-content p {
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  html body .site-footer .col-content, html body .site-footer .col-content .nav-link, html body .site-footer .col-content p {
    font-size: 16px;
  }
}
html body .site-footer .col-content ul {
  margin: 0;
  margin-top: 0px;
  padding: 0;
  list-style: none;
  margin-top: 44px;
}
html body .site-footer .col-content ul li {
  min-height: 60px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 991px) {
  html body .site-footer .col-content ul li {
    min-height: initial;
  }
}
@media only screen and (max-width: 768px) {
  html body .site-footer .col-content ul li a {
    font-size: 16px;
  }
}
html body .site-footer .col-content ul.socials {
  margin-top: 0;
  display: flex;
}
html body .site-footer .col-content ul.socials li {
  min-height: initial;
  font-size: 30px;
}
html body .site-footer .col-content ul.socials li:not(:last-of-type) {
  margin-right: 25px;
}
html body .site-footer .col-content ul.socials li a i {
  transition: transform 0.3s 0s ease;
}
html body .site-footer .col-content ul.socials li a:hover i {
  position: relative;
  transform: scale(1.15);
}
html body .site-footer .col-advertising {
  font-size: 18px;
  opacity: 0.5;
  letter-spacing: 1px;
  line-height: 1.4;
}
@media only screen and (max-width: 768px) {
  html body .site-footer .col-advertising {
    font-size: 16px;
  }
}
html body .site-footer .col-advertising p {
  margin-bottom: 1.35rem;
}
html body .site-footer .col-logo .col-wrap {
  display: flex;
}
html body .site-footer .col-logo a {
  margin-left: auto;
  display: inline-block;
}
@media only screen and (max-width: 991px) {
  html body .site-footer .col-logo a {
    margin-right: auto;
    margin-top: 30px;
  }
}
html body .site-footer .col-logo img {
  width: 100%;
  max-width: 270px;
}
@media only screen and (max-width: 768px) {
  html body .site-footer .col-logo img {
    max-width: 190px;
  }
}

html body .hero .hero__item, html body .hero .hero__item .hero__wrap {
  width: 100%;
  height: 700px;
}
@media only screen and (max-width: 768px) {
  html body .hero .hero__item, html body .hero .hero__item .hero__wrap {
    height: 500px;
  }
}
@media only screen and (max-width: 575px) {
  html body .hero .hero__item, html body .hero .hero__item .hero__wrap {
    height: 450px;
  }
}
html body .hero .hero__item .hero__wrap {
  position: relative;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body .hero .hero__item .hero__background {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  margin: 0;
  display: block;
  z-index: 1;
}
html body .hero .hero__item .hero__background .hero__background--img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  margin: 0;
  display: block;
}
html body .hero .hero__item .hero__background .hero__background--mobile {
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 769px) {
  html body .hero .hero__item .hero__background .hero__background--mobile {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  html body .hero .hero__item .hero__background .hero__background--desktop {
    display: none;
  }
}
html body .hero .hero__item .hero__content {
  color: #FFF;
  z-index: 2;
  width: 100%;
  display: block;
}
html body .hero .hero__item .hero__content h1, html body .hero .hero__item .hero__content h2, html body .hero .hero__item .hero__content h3 {
  font-family: "Noto Sans" , Arial, sans-serif;
}
html body .hero .hero__item .hero__content > .container {
  width: 100%;
  margin-bottom: 100px;
}
@media only screen and (max-width: 768px) {
  html body .hero .hero__item .hero__content > .container {
    margin-bottom: 0px;
  }
}
html body .hero .hero__item .hero__content h1 {
  font-size: 4rem;
  line-height: 1.3;
}
@media only screen and (max-width: 991px) {
  html body .hero .hero__item .hero__content h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 768px) {
  html body .hero .hero__item .hero__content h1 {
    font-size: 2rem;
  }
}
html body .hero .hero__item .hero__content p {
  max-width: 750px;
}

/*# sourceMappingURL=main.css.map */
